@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-heading: 'Apotek Extended', sans-serif;
  --font-body: 'DM Sans', sans-serif;
  --font-label: 'Montserrat', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: 'Apotek Extended';
  src: url('/fonts/fonnts.com-Apotek_Black.otf') format('opentype');
  font-weight: 900;
  font-display: swap;
}
@font-face {
  font-family: 'Apotek Extended';
  src: url('/fonts/fonnts.com-Apotek_Wide_Light.otf') format('opentype');
  font-weight: 300;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

video::-webkit-media-controls {
  display: none !important;
}
video::-webkit-media-controls-overlay-play-button {
  display: none !important;
}
video::-webkit-media-controls-start-playback-button {
  display: none !important;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}

